# Python environment
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Databases & Local data
*.db
*.sqlite
data/*.sql
!data/schema.sql

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Flask/Gunicorn
instance/
.webassets-cache/
    
